body{ 
    background-image: url(../imagem/foto-3.jpg);
}

.sq {
    text-align: justify;
}

.sq::after {
    display: inline-block;
    content: "";
    width: 100%;
    height: 0;
    
}

.squery {
    display: inline-block;
    height: 300px;
    width: 300px;
}



.d1 {
    background-color: #000;
    background-image: url(../imagem/cat-1.png);
    background-repeat: no-repeat;
}

.d2 {
    background-image: linear-gradient(to top, #0f0, rgb(38, 59, 38));
}

.d3 {
    background-color: #369;
    background-image: url(../imagem/cat-health.png);
    background-repeat: no-repeat;
}